html{
  font-family:cursive;
  font-size:1em;
  letter-spacing: 1px;
}
header{
  position:relative;
  text-align:center;
  background-color:blue;
  font-size:1.5em;
  color:white;
}
h2{
  color:white;
}
h3{
  color:white;
  text-align:center;
  background-color:blue;
  width:15%;
  float:left;
  font-size:1.5em;
  margin-left:10%;
  margin-right:10%;
}
pre{
  color:white;
  background-color: blue;
  overflow-x:scroll;
}
div{
  width:80%;
}

