
img {
  display: inline-block;
  border: 2px solid green;
  width: 150px;
  height: 170px;
  margin-left: 33px;
}
header {
  font-size: 130px;
  color: green;
  display: inline-block;
  margin-right: 175px;
  float: right;
}
nav {
  display: inline-block;
  margin-left: 33px;
  margin-bottom: 10px;
}
a {
  font-size: 35px;
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
footer {
  margin-left: 400px;
}